version: '3'
volumes:
  static_files:
    driver: local
services:
  db:
    image: mariadb:10.4
    env_file:
      - ./db/.db_env
    #environment:
    #  - MYSQL_ROOT_PASSWORD=changeme
    #  - MYSQL_USER=changeme
    #  - MYSQL_DATABASE=changeme
    #  - MYSQL_PASSWORD=changeme
    #  - TERM=xterm
    restart: unless-stopped
    volumes:
      - ./db/mariadb:/var/lib/mysql
    command: 'mysqld --innodb-flush-method=fsync'
  app:
    build: app
    restart: unless-stopped
    ports:
      - "8000:8000"
    working_dir: /app
    env_file:
      - ./app/.app_env
    #environment:
    #  - IOT_DJANGO_SECRET_KEY=changeme
    #  - IOT_DJANGO_ALLOWED_HOSTS=changeme
    #  - IOT_DJANGO_DB_CONFIG=changeme
    #  - IOT_DJANGO_EMAIL_HOST=changeme
    #  - IOT_DJANGO_EMAIL_PORT=changeme
    #  - IOT_DJANGO_EMAIL_HOST_USER=changeme
    #  - IOT_DJANGO_EMAIL_HOST_PASSWORD=changeme
    #  - IOT_DJANGO_EMAIL_USE_TLS=changeme
    #  - IOT_DJANGO_SU_USER=changeme
    #  - IOT_DJANGO_SU_EMAIL=changeme
    #  - IOT_DJANGO_SU_PASS=changeme
    #  - MYSQL_USER=changeme
    #  - MYSQL_DATABASE=changeme
    #  - MYSQL_PASSWORD=changeme
    #command: python manage.py runserver 0.0.0.0:8000
    command: ./start-django.sh
    depends_on:
      - db
    volumes:
      - ./migrations:/app/model/migrations
      - static_files:/app/static
    labels: 
      traefik.frontend.rule: Host:tv-cwb-iot.terracoverde.eco.br
      traefik.frontend.priority: '1'
      traefik.port: '8000'
      traefik.enable: 'true'
